/*Font variables */
$primary-font: Roboto, 'Helvetica Neue', sans-serif !important;
$fontregular: 'proxima-nova-regular';
$fontbold: 'proxima-nova-bold';

/* Spacing Variables */
$spacing: 8px;

/* Color variables */
$convo-bg: #f4f6f8;
$bg-grey: #f4f6f8;
$white: #ffffff;
$black: #000000;
$divider-grey: #ebebed;
$borders-grey: #e0e0e5;
$hover-grey: #f7f7f8;
$cta-bg-grey: #efeff1;

$primary-1: #33334f;
$primary-2: #6d6da7;
$primary-3: #dee2e6;
$primary-4: #d9d8e8;

$black-70: #707084;
$black-50: #9999a7;
$black-40: #adadb9;
$black-20: #d6d6dc;

$emp-blue-1: #3654ff;
$emp-blue-2: #2d47de;
$emp-blue-3: #273fca;

$success-green-1: #12c457;
$success-green-2: #15ad50;
$success-green-3: #149847;
$confirmation-green: #27ae60;
$reviews-stars-green: #1ba756;

$warn-red-1: #e63b3b;
$warn-red-2: #d62f2f;
$warn-red-3: #b92222;
$error-red: #eb5757;

$alert-orange-1: #ff9c28;
$alert-orange-2: #ec9126;
$alert-orange-3: #d27b15;
$orange: #f66933;

$dest-yellow-1: #f8d50d;
$dest-yellow-2: #eac90e;
$dest-yellow-3: #d4b607;
